.acerca{
    padding: 15px;
    background-color: rgb(245, 245, 245);
    padding: 0;
    margin: 0;
}
.acerca-header{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
ion-list{
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}