<!--Incrustamos el componente header-->
<app-header titulo="Acerca de"></app-header>

<ion-content>
    <div class="acerca">
        <ion-list>
            <ion-card-header class="acerca-header">
                <ion-card-title>Quienes somos</ion-card-title>
            </ion-card-header>
          
            <ion-card-content>
                The chicken games es un proyecto integrador escolar a través de la 
                UTM (Universidad Tecnológica de Morelia).
            </ion-card-content>
          </ion-list>
            <br>
          <ion-list>
            <ion-card-content>
                Formado por los alumnos: <br>
                José Guadalupe Zamudio Moreno
                Carlos Alejo Pineda
                Carol Andres Ceja Cisneros.
            </ion-card-content>
          </ion-list>
          <br>
          <ion-list>
            <ion-card-content>
                Cursamos actualmente de 10 cuatrimestre de la carrera de Tecnológias
                de la Información en el área de Desarrollo y Gestión de Software.
            </ion-card-content>
          </ion-list>
    </div>
</ion-content>
