
.historia{
    padding: 15px;
    background-color: rgb(245, 245, 245);
    padding: 0;
    margin: 0;
}
// .image-historia{
//     height: 40px;
//     width: 40px;
//     margin-left: 25%;
// }
// .historia-header{
//     display: inline-block;
//     justify-content: flex-start;
// }
span{
    font-size: 15px;
}
.historia-header{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
ion-list{
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}