<app-header titulo="Historia"></app-header>

<ion-content>
    <div class="historia">
        <ion-list>
            <ion-card-header class="historia-header">
                <ion-card-title>Historia</ion-card-title>
                <ion-card-subtitle>De chick</ion-card-subtitle>
            </ion-card-header>
            <!-- <img class="image-historia" src="../../../assets/img/pollito.png" alt=""> -->
          
            <ion-card-content>
                Es la historia de un pollito que se llama Chick, cuando él nace sus 
                padres fueron secuestrados y ahora tiene que encontrarlos.  El juego cuenta 
                con 5 niveles cada nivel contara con un enemigo final, el cual son los 
                siguientes, una serpiente que se llama (Snake), un águila (Agfly), un perro (Káiser), 
                una rata (Ratatouille) y un gato (Ramsés).
            </ion-card-content>
          </ion-list>
            <br>
          <ion-list>
            <ion-card-content>
              El personaje principal tiene 3 vidas y en el nivel 2 y 4 tendrá la 
              oportunidad de encontrar vidas, si el personaje llega a perder todas 
              sus vidas regresará al nivel 1. En el nivel final habrá un límite de 
              tiempo en el que si el personaje principal no rescata a sus padres en 
              dos minutos serán ejecutados.
            </ion-card-content>
          </ion-list>
          <br>
          <ion-list>
            <ion-card-content>
              En cada nivel habrá obstáculos así mismo en el nivel 3 y 5, encontrará 
              una caja con un artefacto diferente que le ayudará a vencer al jefe final.
            </ion-card-content>
          </ion-list>
          <br>
          <ion-list>
            <ion-card-header class="historia-header">
                <ion-card-title>Habilidades</ion-card-title>
            </ion-card-header>
  
            <ion-card-content>
                El personaje podrá correr, brincar, agacharse,
                caminar y retroceder. Además contará con 6 logros,
                tales como : <span><br>
                1. Corre 10 metros sin brincar.
                2. Mata a la Serpiente en 30 seg. <br>
                3. Obtén tu 1ra vida. <br>
                4. Salta y desbloquea un secreto. <br>
                5. Mata a la Rata en el menor tiempo posible.</span>
            </ion-card-content>
          </ion-list>
    </div>
</ion-content>
