<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button style="color: rgb(31, 31, 31);" menu="first"></ion-menu-button>
    </ion-buttons>
    <ion-title>Inicio</ion-title>
    <img class="avatar" src="../../../assets/img/logo.jpeg" alt="" slot="end">
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="wrp">
    <div class="portada"></div>
      <div class="contenido">
        <div class="info">
          <h1>Ven y conoce nuestro videojuego</h1>
        </div>
      </div>
      <div class="curveado">
        <img class="chicken" src="../../../assets/img/chichen.png" alt="">
        <img src="../../../assets/img/img2.svg" alt="">
      </div>

      <ion-card>
        <ion-card-header>
          <ion-card-title class="centrar">Adaptación</ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
          El juego está dirigido a personas de 12 años en adelante y 
          que cuenten con internet y una computadora.
        </ion-card-content>
      </ion-card>

      <ion-card>
        <ion-card-header>
          <ion-card-title class="centrar">Características</ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
          Es un juego de plataforma en 2D y los personajes son creados con
          Piskel.
        </ion-card-content>
      </ion-card>

      <ion-card>
        <ion-card-header>
          <ion-card-title class="centrar">Género</ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
          Aventura / Supervivencia
        </ion-card-content>
      </ion-card>
      
  </div>

  <aside>
    <h4 class="aside">Síguenos en:</h4>
    <div class="logo1">
      <img style="width: 35px; height: 35px;" class="logo" src="../../../assets/img/whats.png" alt="">
      <img class="logo" src="../../../assets/img/facebook.png" alt="">
      <img class="logo" src="../../../assets/img/instagram.png" alt="">
    </div>
  </aside>

  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="schedule">
        <ion-icon name="briefcase-sharp"></ion-icon>
        <ion-label>Secretos</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="map">
        <ion-icon name="ribbon-sharp"></ion-icon>
        <ion-label>Progreso</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
  
</ion-content>
