<app-header titulo="Logros"></app-header>
<ion-content>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Chick</ion-card-title>
      <ion-card-subtitle>4 logros</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-thumbnail slot="start">
            <img alt="Silhouette of mountains" src="https://firebasestorage.googleapis.com/v0/b/chichen-be83d.appspot.com/o/ejecutar.png?alt=media&token=c4535fe0-3f21-4f1c-bab6-f867a230f27a" />
          </ion-thumbnail>
          <ion-label class="label">Corre 10 metr-<br>os sin brincar.</ion-label>
        </ion-item>
  
        <ion-item>
          <ion-thumbnail slot="start">
            <img alt="Silhouette of mountains" src="https://firebasestorage.googleapis.com/v0/b/chichen-be83d.appspot.com/o/espada.png?alt=media&token=464549bc-d085-41ed-9165-b4997be18e71" />
          </ion-thumbnail>
          <ion-label class="label">Mata a la serpi-<br>ente en 30 seg.</ion-label>
        </ion-item>
  
        <ion-item>
          <ion-thumbnail slot="start">
            <img alt="Silhouette of mountains" src="https://firebasestorage.googleapis.com/v0/b/chichen-be83d.appspot.com/o/heart.png?alt=media&token=94b00cc0-e5ad-465c-b426-aae1bf8321b2" />
          </ion-thumbnail>
          <ion-label class="label">Obtén tu 1ra<br> vida extra.</ion-label>
        </ion-item>
  
        <ion-item lines="none">
          <ion-thumbnail slot="start">
            <img alt="Silhouette of mountains" src="https://firebasestorage.googleapis.com/v0/b/chichen-be83d.appspot.com/o/espada.png?alt=media&token=464549bc-d085-41ed-9165-b4997be18e71" />
          </ion-thumbnail>
          <ion-label class="label">Mata al gato en<br> el menor tiem-<br>po posible.</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

</ion-content>
